body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333;
  background-color: #fff;
}
* {
  box-sizing: border-box;
}
a {
  color: #08c;
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
input {
  outline: 0;
  border: 0;
}
input,
select,
textarea {
  display: inline-block;
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #555;
  vertical-align: middle;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.markdown-text > :first-child,
.preview > :first-child {
  margin-top: 0;
}
.markdown-text > :last-child,
.preview > :last-child {
  margin-bottom: 1em;
}
.preview p,
.reply_content p,
.reply_form p,
.topic_content p {
  font-size: 15px;
  line-height: 1.7em;
  overflow: auto;
}
.markdown-text p,
.preview p {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  line-height: 2em;
  margin: 1em 0;
}
.markdown-text img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

.container {
  width: 90%;
  margin: 0 auto;
}
.panel {
  width: 65vw;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px 0;
}
.panel .panel-head {
  padding: 10px;
  background-color: #f6f6f6;
}
.panel .panel-foot {
  padding: 10px;
  background-color: #f6f6f6;
}
.panel .panel-head .panel-head-title {
  color: #1c6132;
}
@media screen and (max-width: 992px) and (min-width: 768px) {
  .header .container {
    display: block;
  }
}
